<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header>
      <h1>Reader's Verse</h1>
      <nav>
        <ul>
          <li><a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></li>
          <li><a routerLink="/emprestimo">Emprestimo</a></li>
          <li><a routerLink="/perfil">Perfil</a></li>
        </ul>
      </nav>
  </header>
  <main class="container">
    <router-outlet></router-outlet>
  </main>
  <footer>
    <p>Made by Yuri &copy;</p>
  </footer>
</body>
</html>
